<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c - %m%n" />
		</layout>
	</appender>
	
	
	<appender name="console-infolog" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %5p %m%n" />
        </layout>   
    </appender>
	
	
	
	<!-- Application Loggers -->
	<logger name="com.nb.web">
		<level value="info" />
	</logger>
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>


	<!--  SQL문과 해당 SQL을 실행시키는데 수행된 시간 정보(milliseconds) 
	<logger name="jdbc.sqltiming" additivity="false">
	    <level value="info" />
	    <appender-ref ref="console-infolog"/>  
	</logger> -->
	
	<!--  SQL 쿼리 문장 -->
	<logger name="jdbc.sqlonly" additivity="false"> 
	    <level value="info"/> 
	    <appender-ref ref="console"/> 
	</logger>
	
	<!--  ResultSet을 제외한 모든 JDBC 호출 정보
	<logger name="jdbc.audit" additivity="false"> 
	    <level value="info"/>  
	    <appender-ref ref="console"/> 
	</logger>  -->
	
	<!--  ResultSet을 포함한 모든 JDBC 호출 정보 
	<logger name="jdbc.resultset" additivity="false">
	    <level value="info" />
	    <appender-ref ref="console"/> 
	</logger>-->
	
	<!-- SQL 결과 조회된 데이터의 table을 로그 -->
	<logger name="jdbc.resultsettable" additivity="false"> 
	    <level value="info"/>  
	    <appender-ref ref="console"/> 
	</logger>
	<!-- Root Logger -->
	<root>
		<priority value="off" />
		<appender-ref ref="console" />
	</root>
	
</log4j:configuration>
